#fyf-modal .modal-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#fyf-modal .modal-content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#fyf-modal .modal-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #53565a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.fyf-extension .modal-open {
    overflow: hidden
}

.fyf-extension .modal {
    background-color: #0c0c0c66;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.fyf-extension .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.fyf-extension .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.fyf-extension .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.fyf-extension .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.fyf-extension .modal-content {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    outline: 0
}

.fyf-extension .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.fyf-extension .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.fyf-extension .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.fyf-extension .modal-header {
    padding: 15px
}

.fyf-extension .modal-header .close {
    margin-top: -2px
}

.fyf-extension .modal-title {
    margin: 0;
    line-height: 1.42857143
}

.fyf-extension .modal-body {
    position: relative;
    padding: 15px
}

.fyf-extension .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.fyf-extension .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.fyf-extension .modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.fyf-extension .modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.fyf-extension .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .fyf-extension  .modal-dialog {
        min-width: 738px;
        max-width: 738px;
        margin: 30px auto
    }

    .fyf-extension  .modal-content {
        padding: 3rem;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }

    .fyf-extension  .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .fyf-extension .modal-lg {
        width: 900px
    }
}

.fyf-extension .modal-header:before,.modal-header:after,.modal-footer:before,.modal-footer:after {
    display: table;
    content: " "
}

.fyf-extension .modal-header:after,.modal-footer:after {
    clear: both
}

.fyf-extension .hide {
    display: none !important
}

.fyf-extension .show {
    display: block !important;
}

.fyf-extension .invisible {
    visibility: hidden
}

#best-fit-div {
    display: none;
    text-align: center;
}

.fyf-extension {
    display: none;
    font-family: 'Montserrat, Helvetica, Arial, sans-serif';
    color: #0f0f0f;
}

.fyf-extension .neck-input-group,
.chest-input-group,
.sleeves-input-group,
.shirt_length-input-group,
.waist-input-group,
.hips-input-group,
.pant-input-group {
    display: none;
}

.modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fyf-extension .fyf-modal-snippet .fyf-table-heading {
    text-align: center;
    font-weight: bold;
}
.fyf-extension .best-fit-recommended{
    border-radius: 50%;
    padding:0.2rem 0.5rem;
    border: 1px solid;
    border-color: rgb(var(--color-foreground));
}
.fyf-extension .modal .best-fit-recommended{
    padding: 0rem 0.6rem;
    font-weight: bold;
}

.fyf-extension button {
    border: 1px solid #999;
    border-radius: 2px;
    padding: 0.75rem 1rem;
}

.fyf-extension .fyf-btn {
    color: rgb(var(--color-foreground));
    font-size: 1.75rem;
    text-align: center;
    /* border:none; */
    background-color: transparent;
    cursor: pointer;
}

.fyf-extension .fyf-btn:hover {
    color: rgb(var(--color-foreground));
    font-weight: bold;
}

.fyf-extension .fyf-modal-title {
    font-size: 1.8em;
    text-align: center;
    font-weight: 800;
}

.fyf-extension .fyf-modal-desc {
    font-size: 1.2rem;
    margin-top: 0px;
}

.fyf-extension .fyf-modal-desc2 {
    font-size: 1.6rem;
    line-height: 2.25rem;
    max-width: 357px;
    margin: 0 auto;
}

.fyf-extension .btn-sec {
    margin-top: 2rem;
}

.fyf-extension .fyf-close-btn-title {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 100;
}

.fyf-extension .fyf-modal-desc2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.fyf-extension .form-field {
    margin-bottom: 0.5rem;
}

.fyf-extension label {
    font-size: 1.65rem;
    line-height: 1.75rem;
    margin-bottom: 0.3rem;
}

.fyf-extension input {
    border-color: #0c0c0c;
    padding: 0.5rem 0.6rem;
    border-radius: 2px;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.fyf-extension label.option {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

#fyf-modal .cart-bar .btn-sec {
    /* text-align: end; */
}

/* cart page 1 */

#fyf-modal .cart-bar {
    text-align: center;
}

/* button */
#fyf-modal .fyf-next-btn-title {
    background-color: #53565a;
    color: #000;
    font-size: 16px;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 50em;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
}

#fyf-modal .fyf-back-btn-title {
    background-color: #53565a;
    color: #000;
    font-size: 16px;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 50em;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    -o-border-radius: 50em;
    margin-right: 10px;
}

/* form */

#fyf-modal .fyf-form-field {
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}

#fyf-modal .fyf-form-field label {
    font-size: 16px;
    margin-bottom: 8px;
}

#fyf-modal .fyf-form-control {
    width: 100%;
    width: -moz-available;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.fyf-switch-wrapper{
    text-align: center;
    font-size: 16px;
}

.fyf-switch-wrapper .label-text{
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 700;
}

.fyf-switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
    justify-content: center;
}

.fyf-switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.fyf-switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
    min-width: 90px;
}

.fyf-switch-field label:hover {
	cursor: pointer;
}

.fyf-switch-field input:checked + label {
	background-color: #93969c;
	box-shadow: none;
    color: #ffffff;
}

.fyf-switch-field label:first-of-type {
	border-top-left-radius: 50em;
    border-bottom-left-radius: 50em;
}

.fyf-switch-field label:last-of-type {
	border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* table */

.fyf-sizing-table {
    margin: auto;
    margin-top: 1rem;
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
}

.fyf-sizing-table thead tr:first-child {
    border-top: none;
    background: #53565a;
    color: #fff;
}

.fyf-sizing-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.fyf-sizing-table tr:nth-child(odd) {
    background-color: #ebf3f9;
}

.fyf-sizing-table th {
    display: none;
}

.fyf-sizing-table td {
    display: block;
}

.fyf-sizing-table td:first-child {
    margin-top: .5em;
}

.fyf-sizing-table td:last-child {
    margin-bottom: .5em;
}

.fyf-sizing-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.fyf-sizing-table th,
.fyf-sizing-table td {
    text-align: left;
}

.fyf-sizing-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.fyf-sizing-table tr {
    border-color: #bfbfbf;
}

.fyf-sizing-table th,
.fyf-sizing-table td {
    padding: .5em 1em;
}

@media screen and (max-width: 601px) {
    .fyf-sizing-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .fyf-sizing-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }

    .fyf-sizing-table td:before {
        display: none;
    }

    .fyf-sizing-table th,
    .fyf-sizing-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .fyf-sizing-table th:first-child,
    .fyf-sizing-table td:first-child {
        padding-left: 0;
    }

    .fyf-sizing-table th:last-child,
    .fyf-sizing-table td:last-child {
        padding-right: 0;
    }

    .fyf-sizing-table th,
    .fyf-sizing-table td {
        padding: 1em !important;
    }
}

/* table end */

/* header */

.fyf-modal-header .fyf-close-btn-title {
    position: absolute;
    background-color: transparent;
    border: 0;
    top: 15px;
}

.fyf-modal-header .fyf-close-btn-title .close-icon {
    width: 20px;
}