<div id="best-fit-div">
  <span class="fyf-recommend-title">We recommend you size </span><strong class="best-fit-recommended"></strong>
</div>
<div class="fyf-btn" data-toggle="modal" data-target="#exampleModal">
  <span class="fyf-btn-title">Find Your Fit 📐</span>
</div>

<!-- Modal -->
<div class="modal active " id="fyf-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bgColor">
      <div class="modal-header fyf-modal-header">
        <h2 class="modal-title fontColor fyf-modal-title" id="exampleModalLabel">Find Your Fit</h2>
        <button type="button" class="btn btn-secondary fontColor fyf-close-btn-title" data-dismiss="modal">
          Close
        </button>
      </div>
      <div class="modal-body">
        <section class="cart-bar p-4 fontColor" id="cart-page-1">
          <p class="fyf-modal-desc">Want to buy, but you are confused about your size?
            We can help you find your fit for this store.
          </p>
          <div class="btn-sec  justify-content-center mt-5">
            <button id="step-1" class="btn btn-primary btn-rounded fyf-next-btn-title">Next</button>
          </div>
          <section class="fyf-modal-snippet">
            <h3 class="fyf-table-heading">Clothing Chart</h3>
            <small class="fyf-unit-info">All sizes are defined in (<span class="unit">inches</span>)</small>
            <div class="fyf-table-responsive">
              <table class="fyf-sizing-table">
                <thead>
                  <tr class="chart-head">
                    <th>Size</th>
                    <th>Neck</th>
                    <th>Chest</th>
                    <th>Shirt Length</th>
                    <th>Waist</th>
                    <th>Hips</th>
                    <th>Pant Length</th>
                  </tr>
                </thead>
                <tbody class="chart-body">
                </tbody>
              </table>
            </div>
          </section>
        </Section>
        <Section class="cart-bar p-4 fontColor" id="cart-page-2">
          <p class="fontColor fyf-modal-desc2">Fill these measurements so that we can find best fit for you</p>
          <div class="fyf-switch-wrapper">
            {% comment %} <p class="label-text">Unit:</p> {% endcomment %}
            <div class="fyf-switch-field">
              <input type="radio" name="unit" checked id="in" value="in"><label class="fontColor" for="in">Inches</label>
              <input type="radio" name="unit" id="cm" value="cm"><label class="fontColor"
                for="cm">Centimeters</label>
            </div>
          </div>

          <div class=" neck-input-group fyf-form-field">
            <label class="fontColor">Enter Your Neck:</label>
            <div class="md-form fyf-form">
              <input type="number" id="neck" name="neck" class="fyf-form-control" autocomplete="off">
            </div>
          </div>

          <div class=" chest-input-group fyf-form-field">
            <label class="fontColor">Enter Your Chest:</label>
            <div class="md-form fyf-form">
              <input type="number" id="chest" name="chest" class="fyf-form-control" autocomplete="off">
            </div>
          </div>
          <div class=" sleeves-input-group fyf-form-field">
            <label class="fontColor">Enter Your Sleeves:</label>
            <div class="md-form fyf-form">
              <input type="number" id="sleeves" name="sleeves" class="fyf-form-control" autocomplete="off">
            </div>
          </div>
          <div class=" shirt_length-input-group fyf-form-field">
            <label class="fontColor">Enter Your Shirt Length:</label>
            <div class="md-form fyf-form">
              <input type="number" id="shirt_length" name="shirt_length" class="fyf-form-control" autocomplete="off">
            </div>
          </div>

          <div class=" waist-input-group fyf-form-field">
            <label class="fontColor">Enter Your Waist:</label>
            <div class="md-form fyf-form">
              <input type="number" id="waist" name="waist" class="fyf-form-control" autocomplete="off">
            </div>
          </div>

          <div class=" hips-input-group fyf-form-field">
            <label class="fontColor">Enter Your Hips:</label>
            <div class="md-form fyf-form">
              <input type="number" id="hips" name="hips" class="fyf-form-control" autocomplete="off">
            </div>
          </div>

          <div class=" pant-input-group fyf-form-field">
            <label class="fontColor">Enter Your Pant Length:</label>
            <div class="md-form fyf-form">
              <input type="number" id="pant" name="pant" class="fyf-form-control" autocomplete="off">
            </div>
          </div>
          <div class="error-box">
          </div>
          <div class="btn-sec  justify-content-center mt-5">
            <button id="step-1-back" class="btn btn-primary btn-rounded fyf-back-btn-title">Back</button>
            <button id="step-2" class="btn btn-primary btn-rounded fyf-next-btn-title">Next</button>
          </div>


        </section>

        <section class="cart-bar" id="cart-page-3" style="display: none;">
          <div class="text-center cart-thank-sec">
            <h2 class="text-uppercase fontColor fyf-our-recommendation-title">Our Recommendation</h2>
            <strong class="fontColor">We recommend you </strong> <span class="best-fit-recommended"></span>
            <strong>size</strong>
            <br>
            <i class="fontColor fyf-our-recommendation-desc">This size is recommended by matching your body
              measurement with stores defined measurement of their clothing</i>
            <div class="btn-sec  justify-content-around mt-5">
              <button class="btn btn-primary btn-rounded px-4 step-3 fontColor"><i class="fas fa-redo mr-2"></i> <span
                  class="fyf-start-btn-title">Start
                  Again</span></button>
            </div>
            <section class="fyf-modal-snippet">
              <h3 class="fyf-table-heading">Clothing Chart</h3>
              <small class="fyf-unit-info">All sizes are defined in (<span class="unit">inches</span>)</small>
              <div class="fyf-table-responsive">
                <table class="fyf-sizing-table">
                  <thead>
                    <tr class="chart-head">
                      <th>Size</th>
                      <th>Neck</th>
                      <th>Chest</th>
                      <th>Shirt Length</th>
                      <th>Waist</th>
                      <th>Hips</th>
                      <th>Pant Length</th>
                    </tr>
                    <thead>
                    <tbody class="chart-body">

                    </tbody>
                </table>
              </div>
            </section>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>