
<span class="fyf-extension" style="color: {{ block.settings.color }}">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Find Your Fit
</button>

<!-- Modal -->
<div class="modal active" id="fyf-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Find Your Fit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="cart-bar p-4" id="cart-page-1">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil</p>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur</p>
          <p>Lorem ipsum dolor sit amet consectetur?</p>

          <div class="btn-sec d-flex justify-content-around mt-5">
              <button class="btn btn-primary btn-rounded step-1">Men</button>
              <button class="btn btn-primary btn-rounded step-1">Women</button>
          </div>
      </section>

      <section class="cart-bar p-4" id="cart-page-2" style="display: none;">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus nihil</p>
          <p class="text-muted">Lorem ipsum dolor sit amet consectetur</p>

         <form action="" method="post">

          <div class="d-flex align-items-center"><span><small>Enter Your Collar-Sze:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="collar_size" name="collar_size" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_collar_size"></h6>
              </span>
          </div>

          <div class="d-flex align-items-center"><span><small>Enter Your Neck:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="neck" name="neck" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_neck"></h6>
              </span>
          </div>

          <div class="d-flex align-items-center"><span><small>Enter Your Chest:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="chest" name="chest" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_chest"></h6>
              </span>
          </div>

          <div class="d-flex align-items-center"><span><small>Enter Your Waist:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="waist" name="waist" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_waist"></h6>
              </span>
          </div>

          <div class="d-flex align-items-center"><span><small>Enter Your Hip:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="hip" name="hip" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_hip"></h6>
              </span>
          </div>

          <div class="d-flex align-items-center"><span><small>Enter Your Height:</small></span> <span>
                  <!-- Material input -->
                  <div class="md-form d-inline">
                      <input type="number" id="height" name="height" class="form-control" autocomplete="off">
                      <label for="form1">Example label</label>
                  </div>
                  <h6 id="valid_height"></h6>
              </span>
          </div>


          <div class="img-sec text-center mt-3">
              <img class="img-fluid" src="" alt="">
          </div>
          <div class="btn-sec d-flex justify-content-center mt-5">
              <button id="step-2" class="btn btn-primary btn-rounded">Next</button>
          </div>

          </form>
      </section>

      <section class="cart-bar" id="cart-page-3" style="display: none;">
          <div class="text-center cart-thank-sec">
              <h2 class="text-uppercase">Thank You!</h2>
              <div class="icon-sec">
                  <i class="fas fa-check-circle text-white"></i>
              </div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nostrum aliquam ullam quia
                  placeat magni et</p>

          </div>

          <div class="img-sec text-center mt-3">
              <img class="img-fluid" src="" alt="">
          </div>
          <div class="btn-sec d-flex justify-content-around mt-5">
              <button class="btn btn-primary btn-rounded px-4 step-3"><i class="fas fa-user mr-2"></i> Save
                  Profile</button>
              <button class="btn btn-primary btn-rounded px-4 step-3"><i class="fas fa-redo mr-2"></i> Start
                  Again</button>
          </div>
      </section>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</span>
{% schema %}
  {
    "name": "Fyf-Block",
    "target": "section",
    "stylesheet": "app.css",
    "javascript": "app-block.js",
    "settings": [
        { "label": "Color", "id": "color", "type": "color", "default": "#000000" }
    ]
  }
{% endschema %}
