<span>
hello embed -app
</span>
{% schema %}
{
  "name": "Fyf-Block",
  "target": "body",
  "stylesheet": "app.css",
  "javascript": "app-block.js",
  "settings": [
    {
      "label": "Color",
      "id": "color",
      "type": "color",
      "default": "#000000"
    }
  ]
}
{% endschema %}