<span class="fyf-extension fyf-app-embed"
  data-product-id="{{ product.id }}" data-store-name="{{ shop.name }}"
>
{% render "main-snippet" %}
</span>
{% schema %}
{
  "name": "Fing Your Fit Plugin",
  "target": "body",
  "stylesheet": "app.css",
  "javascript": "app-block.js",
  "settings": [
    
  ]
}
{% endschema %}