<span>
hello embed -app {{ block.settings.heading_font }}
</span>
{% schema %}
{
  "name": "Fyf-Block",
  "target": "body",
  "stylesheet": "app.css",
  "javascript": "app-block.js",
  "settings": [
    {
      "label": "Color 2",
      "id": "color",
      "type": "color",
      "default": "#000000"
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Heading font",
      "default": "helvetica_n4"
    },
    {
      "label": "Background Color",
      "id": "backgroundColor",
      "type": "color",
      "default": "#000000"
    }
  ]
}
{% endschema %}